.vscode/
wandb/
__pycache__/
trained_models/
data/
my_output/
out_path/
no_gnn_eval.py
no_gnn_train.py
no_gnn_prova.pth
no_gnn_prova2.pth
no_gnn_models.py
no_gnn_30.pth
no_gnn_100.pth
edge_cls.ipynb
losses_plot.jpg