.vscode/
wandb/
__pycache__/
trained_models/
data/
my_output/
out_path/
experiments/
plots/
data/
no_gnn_eval.py
no_gnn_train.py
no_gnn_prova.pth
no_gnn_prova2.pth
no_gnn_models.py
no_gnn_30.pth
no_gnn_100.pth
edge_cls.ipynb
losses_plot.jpg
only_verb_eval.py
only_verb_train.py
only_verb_models.py
autoencoder_original.py
prova.ipynb
eval_vae.py
run_experiments.sh
run_experiments_old.sh
ae_runs.xlsx
vae_runs.xlsx
easg_verb_output
vae_verb_output_ce
vae_verb_output_fl
mlp_verb_output
output_mlp
models_outputs